kasan_parameters=(
'CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC#CONFIG_KASAN_SHADOW_OFFSET#0xdffffc0000000000'
'CONFIG_DEBUG_MEMORY_INIT#CONFIG_HAVE_ARCH_KASAN#y'
'CONFIG_HAVE_ARCH_KASAN#CONFIG_CC_HAS_KASAN_GENERIC#y'
'CONFIG_CC_HAS_KASAN_GENERIC#CONFIG_KASAN#y'
'CONFIG_KASAN#CONFIG_KASAN_GENERIC#y'
'CONFIG_KASAN_GENERIC#CONFIG_KASAN_OUTLINE#y'
'CONFIG_KASAN_OUTLINE#CONFIG_KASAN_STACK#1')
